.main {
  overflow-y: hidden;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-radius: 12px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  margin-right: -10px;
  font-size: 13px;
  opacity: 1;
  padding: 8px 8px 0 12px;
  height: 64px;
  .remButton {
    cursor: pointer;
    opacity: 0;
    transition: 0.2s ease-in-out;
  }
  &:hover {
    height: 117px;
    .remButton {
      opacity: 1;
      visibility: visible;
    }
  }
}
.mainMount {
  animation: ticket-animation 0.3s;
}
.mainOnmountHover {
  animation: ticket-onmount-animation-hover 0.34s;
}
.mainOnmount {
  animation: ticket-onmount-animation 0.3s;
}
@keyframes ticket-animation {
  0% {
    height: 0;
  }
  100% {
    height: 64px;
  }
}
@keyframes ticket-onmount-animation-hover {
  0% {
    height: 117px;
  }
  100% {
    height: 0;
  }
}
@keyframes ticket-onmount-animation {
  0% {
    height: 64px;
  }
  100% {
    height: 0;
  }
}
